$theme-colors-light: (
  'primary': #ebf3ff,
  'secondary': #E6EAEE,
  'success': #D2FFE8 ,
  'danger': #FFDEDE,
  'warning': #fffdd8,
  'info': #e6fdff,
) !default;

$alert-colors: (
    primary: (
        text-color: #fff,
        background-color: #435ebe
    ),
    secondary: (
        text-color: #383d41,
        background-color: #ebeef3
    ),
    success: (
        text-color: #fff,
        background-color: #4fbe87   
    ),
    warning: (
        text-color: #fff,
        background-color: #eaca4a,
    ),
    danger: (
        text-color: #fff,
        background-color: #f3616d,
    ),
    dark: (
        text-color: #fff,
        background-color: #454546,
    ),
    light: (
        text-color: #818182,
        background-color: #f9f9f9,
    ),
    info: (
        text-color: #fff,
        background-color: #56b6f7,
    ),
) !default;

$card-box-shadow:                   -8px 12px 18px 0 rgba(25,42,70,.13);


// Body
$body-bg:                   #f2f7ff !default;
$body-color:                #607080 !default;

$link-color:                              $primary !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;

$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

$headings-color:              #25396f !default;
$text-muted:                  #7c8db5 !default;
$mark-bg:                     #fcf8e3 !default;

$table-color:                 $body-color !default;
$table-border-color:          #eee !default;
$table-striped-bg:            rgba($black, $table-striped-bg-factor) !default;
$table-active-bg:             rgba($black, $table-active-bg-factor) !default;
$table-hover-bg:              rgba($black, $table-hover-bg-factor) !default;
$table-group-separator-color: #dedede !default;
$table-variants: (
  "primary":    shift-color($primary, $table-bg-scale),
  "secondary":  shift-color($secondary, $table-bg-scale),
  "success":    shift-color($success, $table-bg-scale),
  "info":       shift-color($info, $table-bg-scale),
  "warning":    shift-color($warning, $table-bg-scale),
  "danger":     shift-color($danger, $table-bg-scale),
  "light":      $light,
  "dark":       $dark,
) !default;

$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;
$btn-link-color:              $link-color !default;
$btn-link-hover-color:        $link-hover-color !default;
$btn-link-disabled-color:     $gray-600 !default;

$input-bg:                              $white !default;
$input-disabled-bg:                     $gray-200 !default;
$input-placeholder-color:               $gray-500 !default;
$input-plaintext-color:                 $body-color !default;
$input-border-color:                    #dce7f1 !default;

$input-group-addon-color:               #526e8a  !default;
$input-group-addon-bg:                  #e6eef5 !default;
$input-group-addon-border-color:        #dce7f1 !default;

$form-check-input-bg:                     #fff !default;
$form-check-input-border:                 3px solid #e1e3ea !default;
$form-switch-color:               rgba(0, 0, 0, .25) !default;
$form-select-color:                 $input-color !default;
$form-select-disabled-color:        $gray-600 !default;
$form-select-bg:                    $input-bg !default;
$form-select-disabled-bg:           $gray-200 !default;
$form-range-track-bg:             $gray-300 !default;
$form-range-thumb-disabled-bg:             $gray-500 !default;

$nav-link-disabled-color:           $gray-600 !default;
$nav-tabs-border-color:             $gray-300 !default;
$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;

$dropdown-color:                    $body-color !default;
$dropdown-bg:                       $white !default;
$dropdown-border-color:             rgba($black, .15) !default;
$dropdown-divider-bg:               rgb(189, 199, 209) !default;
$dropdown-box-shadow:               1px 4px 15px #f4f5f9 !default;
$dropdown-link-color:               $gray-900 !default;
$dropdown-link-hover-color:         shade-color($gray-900, 10%) !default;
$dropdown-link-hover-bg:            $gray-100 !default;
$dropdown-link-disabled-color:      $gray-600 !default;
$dropdown-header-color:             $gray-600 !default;
$dropdown-dark-color:               $gray-300 !default;
$dropdown-dark-bg:                  $gray-800 !default;
$dropdown-dark-link-hover-color:    $white !default;
$dropdown-dark-link-hover-bg:       rgba($white, .15) !default;
$dropdown-dark-link-disabled-color: $gray-500 !default;
$dropdown-dark-header-color:        $gray-500 !default;

$pagination-color:                  $link-color !default;
$pagination-bg:                     $white !default;
$pagination-border-color:           $gray-300 !default;
$pagination-focus-bg:               $gray-200 !default;
$pagination-hover-bg:               $gray-200 !default;
$pagination-hover-border-color:     $gray-300 !default;
$pagination-disabled-color:         $gray-600 !default;
$pagination-disabled-border-color:  $gray-300 !default;

$card-border-color:                 rgba($black, .125) !default;
$card-bg:                           $white !default;

$accordion-color:                         $body-color !default;
$accordion-bg:                            transparent !default;
$accordion-border-color:                  rgba($black, .125) !default;
$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;

$tooltip-bg:                        $black !default;

$popover-bg:                        $white !default;
$popover-border-color:              rgba($black, .2) !default;

$toast-background-color:            rgba($white, .85) !default;
$toast-border-color:                rgba(0, 0, 0, .1) !default;
$toast-header-color:                $gray-600 !default;
$toast-header-background-color:     rgba($white, .85) !default;
$toast-header-border-color:         rgba(0, 0, 0, .05) !default;

$badge-color:                       $white !default;

$modal-content-bg:                  $white !default;
$modal-content-border-color:        rgba($black, .2) !default;

$modal-backdrop-bg:                 $black !default;
$modal-header-border-color:         $border-color !default;
$modal-footer-border-color:         $modal-header-border-color !default;

$progress-bar-color:                $white !default;
$progress-bar-bg:                   $primary !default;


$list-group-bg:                     $white !default;
$list-group-border-color:           rgba($black, .125) !default;
$list-group-hover-bg:               $gray-100 !default;
$list-group-active-bg:              $component-active-bg !default;
$list-group-active-border-color:    $list-group-active-bg !default;
$list-group-disabled-color:         $gray-600 !default;
$list-group-action-color:           $gray-700 !default;
$list-group-action-active-bg:       $gray-200 !default;

$thumbnail-border-color:            $gray-300 !default;
$figure-caption-color:              $gray-600 !default;

$breadcrumb-divider-color:          $gray-600 !default;
$breadcrumb-active-color:           $gray-600 !default;

$carousel-control-color:             $white !default;
$carousel-indicator-active-bg:       $white !default;
$carousel-caption-color:             $white !default;
$carousel-dark-indicator-active-bg:  $black !default;
$carousel-dark-caption-color:        $black !default;

$btn-close-color:                   $black !default;
$code-color:                        $pink !default;
$kbd-color:                         $white !default;
$kbd-bg:                            $gray-900 !default;
$pre-color:                         null !default;
