
// Sweetalert2 Dark
.swal2-popup, .swal2-validation-message {
    background-color: $swal-popup-bg !important;
    color: $swal-popup-color !important;
}
.swal2-title {
    color: $swal-popup-color !important;
}
.swal2-styled.swal2-confirm {
    background-color: $swal-confirm-button-bg !important;
}
.swal2-styled.swal2-confirm:hover {
    background-color: $swal-confirm-button-bg-hover !important;
}

// Apexcharts
.apexcharts-text tspan {
    fill: $body-color !important;
}
.apexcharts-legend-text {
    color: $body-color !important;
}

// Toggle theme
.theme-toggle {
    color: #9899ac;
}

// override selector
// see original on mixins\_forms.scss
@mixin form-validation-state-selector($state) {
    @if ($state == "valid" or $state == "invalid") {
        .was-validated :#{$state},
        .is-#{$state} {
            @content;
        }
    } @else {
        .is-#{$state} {
            @content;
        }
    }
}

// to fix feedback message on input group
@each $state in map-keys($form-validation-states) {
    @include form-validation-state-selector($state) {
        ~ .#{$state}-feedback,
        ~ .#{$state}-tooltip {
            display: block;
        }
    }
}
