@import "../variables";

#error {
    background-color: $page-error-bg;
    padding: 5rem 0;
    .img-error {
        width: 63%;
        padding: 3rem 0 3rem 0;
    }
    .error-title {
        font-size: 4rem;
        margin-top: 3rem;
    }
}
body.theme-dark {
    #error {
        @import "../themes/dark/variables-dark";
        background-color: $page-error-bg;
    }
}