#error {
    height: 100vh;
    background-color: #ebf3ff;
    padding-top: 5rem;
    .img-error {
        width: 63%;
        padding: 3rem 0 3rem 0;
    }
    .error-title {
        font-size: 4rem;
        margin-top: 3rem;
    }
}