{% set title = 'Register' %}

{% extends 'src/layouts/auth.html' %}
{% block content %}
<div class="row h-100">
    <div class="col-lg-5 col-12">
        <div id="auth-left" class="p-4">
            <div class="auth-logo text-center">
                <a href="index.html"><img src="assets/static/images/logo/logo.svg" alt="Logo"></a>
            </div>
            <h1 class="auth-title text-center">Sign Up</h1>
            <p class="auth-subtitle text-center mb-4">Input your data to register on our website.</p>

            <form action="index.html">
                <div class="form-group mb-3">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="form-group mb-3">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group mb-3">
                    <input type="password" class="form-control" placeholder="Confirm Password">
                </div>
                <button class="btn btn-primary btn-block">Sign Up</button>
            </form>
            <div class="text-center mt-4">
                <p class="text-gray-600">Already have an account? <a href="auth-login.html" class="font-bold">Log in</a>.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
        <div id="auth-right">
            <!-- Your content for the right side, if any -->
        </div>
    </div>
</div>
{% endblock %}
