{% extends 'src/layouts/vertical-1-column.html' %}

{% block content %}

<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h4 class="card-title">Single Layout</h4>
        </div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nemo quasi labore expedita? Veritatis
                at maxime id voluptates excepturi molestiae possimus blanditiis dicta consequuntur maiores suscipit,
                eveniet neque obcaecati doloribus.</p>
        </div>
    </div>
</div>

{% endblock %}