<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ web_title }}</title>
    {% block stylesfirst %}{% endblock %}
    <link rel="stylesheet" href="assets/compiled/css/app.rtl.css">
    <link rel="stylesheet" href="assets/compiled/css/app-dark.rtl.css">
    <link rel="shortcut icon" href="assets/static/images/logo/favicon.svg" type="image/x-icon">
    <link rel="shortcut icon" href="assets/static/images/logo/favicon.png" type="image/png">
    {% block styles %}{% endblock %}
</head>

<body>
    <script src="assets/static/js/initTheme.js"></script>
    <div id="app">
        <div id="sidebar">
            {% include "src/layouts/sidebar.html" %}
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            {% block content %}{% endblock %}
            {% include '../partials/footer.html' %}
        </div>
    </div>
    <script src="assets/static/js/components/dark.js"></script>
    <script src="assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    
    {% if isDev %}
    <script src="assets/js/app.js" type="module"></script>
    {% else %}
    <script src="assets/compiled/js/app.js"></script>
    {% endif %}

    {% block js %}{% endblock %}
</body>

</html>