<div class="sidebar-wrapper active">
    <div class="sidebar-header">
        <div class="d-flex justify-content-between">
            <div class="logo">
                <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo" srcset=""></a>
            </div>
            <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">{% for sidebarItem in sidebarItems %}{% if sidebarItem.isTitle %}
            <li class="sidebar-title">{{sidebarItem.name}}</li>
            {% else %}
            <li
                class="sidebar-item {{ 'active' if (sidebarItem.url == filename or filename|startsWith(sidebarItem.key)) }} {{'has-sub' if sidebarItem.submenu.length > 0 }}">
                <a href="{{sidebarItem.url if sidebarItem.url!==undefined else '#'}}" class='sidebar-link'>
                    <i class="bi bi-{{ sidebarItem.icon }}"></i>
                    <span>{{sidebarItem.name}}</span>
                </a>{% if sidebarItem.submenu.length > 0 %}
                <ul class="submenu {{ 'active' if (sub.url == filename or filename|startsWith(sidebarItem.key)) }}">{%
                    for sub in sidebarItem.submenu %}
                    <li class="submenu-item {{ 'active' if sub.url == filename }}">
                        <a href="{{ sub.url }}">{{ sub.name }}</a>
                    </li>{% endfor %}
                </ul>{% endif %}
            </li>
            {% endif %}{% endfor %}
        </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>